<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	
	<title>Guests List</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>

<body>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Guests List</h1>
		</div>
		
		<div class="panel-body">
			
			<form class="form-inline" method="post" style="margin: 20px 0" th:object="${guest}">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
					<input type="text" class="form-control" placeholder="Companions" th:field="*{numberOfCompanions}"/>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</form>
		
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Companions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="guest : ${guests}">
						<td th:text="${guest.name}">Jason</td>
						<td th:text="${guest.numberOfCompanions}">3</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
		
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>